@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  overflow-x: hidden; }

table,
td,
th {
  border-collapse: collapse; }

fieldset {
  border: none; }

input,
a,
button {
  outline: 1; }

.h {
  position: absolute;
  top: -9999px;
  opacity: 0; }

body {
  overflow-x: hidden; }

#header {
  width: 100%; }
  #header .inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 120px 30px;
    margin: 0 auto; }
    #header .inner h1 {
      display: inline-block; }
      #header .inner h1 a {
        font: bold 30px/1 'Merriweather';
        color: #111; }
    #header .inner .menu {
      float: right; }
      #header .inner .menu li {
        float: left;
        margin-right: 40px; }
        #header .inner .menu li:last-child {
          margin-right: 0; }
        #header .inner .menu li a {
          font: 18px/1 'Montserrat';
          font-weight: 600;
          color: #111; }
    #header .inner .sns_menu {
      float: right; }
      #header .inner .sns_menu li {
        float: left;
        margin-right: 10px; }

#home .inner {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row; }
  #home .inner .left {
    width: 50%; }
    #home .inner .left video {
      width: 100%;
      height: 500px;
      object-fit: cover; }
  #home .inner .right {
    width: 50%;
    height: 500px;
    background: url(../img/bg0.jpg) no-repeat center/cover;
    object-fit: cover;
    padding: 80px;
    position: relative;
    z-index: 1; }
    #home .inner .right::after {
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.95);
      z-index: 2; }
    #home .inner .right .txt {
      position: relative;
      z-index: 3; }
      #home .inner .right .txt span {
        font: 40px/1.3 'Noto Sans KR';
        color: #111; }
        #home .inner .right .txt span strong {
          font-size: 45px; }
      #home .inner .right .txt h2 {
        margin: 40px 0;
        font: 30px/1 'Open Sans';
        font-weight: 100;
        letter-spacing: 2px;
        color: #222;
        text-transform: uppercase; }
      #home .inner .right .txt p {
        font: 16px/1.5 'Noto Sans KR';
        font-weight: 300;
        color: #222; }

#about {
  width: 100%; }
  #about .inner {
    width: 100%;
    margin: 0 auto; }
    #about .inner h1 {
      margin-bottom: 50px; }
    #about .inner .content_box {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: row;
      text-align: center; }
      #about .inner .content_box > article {
        width: calc(100% / 4);
        height: 350px;
        padding: 40px;
        border: 1px solid #ddd;
        margin-right: 5px;
        border-radius: 5px;
        background: #e6e6e66b; }
        #about .inner .content_box > article > i {
          font-size: 50px;
          margin-bottom: 10px; }
        #about .inner .content_box > article h2 {
          font: bold 35px/1 'Noto Sans KR';
          color: #111;
          margin-bottom: 30px; }
        #about .inner .content_box > article table {
          width: 100%;
          border-collapse: collapse; }
          #about .inner .content_box > article table tr th {
            background: #fff;
            padding: 5px; }
          #about .inner .content_box > article table tr td {
            font: 16px/1.3 'Noto Sans KR';
            font-weight: 300;
            color: #444;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #d1d1d1; }
        #about .inner .content_box > article.content4 {
          padding: 40px 80px;
          margin-right: 0; }
          #about .inner .content_box > article.content4 .skill_content_box {
            display: flex;
            flex-direction: column;
            font: 14px/1.3 'Noto Sans KR';
            font-weight: 300;
            color: #444; }
            #about .inner .content_box > article.content4 .skill_content_box i {
              font-size: 40px;
              margin-bottom: 5px; }
            #about .inner .content_box > article.content4 .skill_content_box .top {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 30px; }
              #about .inner .content_box > article.content4 .skill_content_box .top article {
                width: calc(100% / 4);
                padding: 5px; }
                #about .inner .content_box > article.content4 .skill_content_box .top article p {
                  font: 13px/1 'Open Sans';
                  color: #333; }
                #about .inner .content_box > article.content4 .skill_content_box .top article img {
                  width: 40px; }
                #about .inner .content_box > article.content4 .skill_content_box .top article:nth-of-type(1) i {
                  color: #dd4b25; }
                #about .inner .content_box > article.content4 .skill_content_box .top article:nth-of-type(2) i {
                  color: #146eb0; }
                #about .inner .content_box > article.content4 .skill_content_box .top article:nth-of-type(3) i {
                  color: #d2b22c; }
            #about .inner .content_box > article.content4 .skill_content_box .bottom {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between; }
              #about .inner .content_box > article.content4 .skill_content_box .bottom article {
                width: calc(100% / 4);
                padding: 5px; }
                #about .inner .content_box > article.content4 .skill_content_box .bottom article p {
                  font: 13px/1 'Open Sans';
                  color: #333; }
                #about .inner .content_box > article.content4 .skill_content_box .bottom article img {
                  width: 40px; }
                #about .inner .content_box > article.content4 .skill_content_box .bottom article:nth-of-type(1) i {
                  color: #c56594; }
                #about .inner .content_box > article.content4 .skill_content_box .bottom article:nth-of-type(2) i {
                  color: #db7070; }
                #about .inner .content_box > article.content4 .skill_content_box .bottom article:nth-of-type(3) img {
                  margin-bottom: 5px; }
                #about .inner .content_box > article.content4 .skill_content_box .bottom article:nth-of-type(4) img {
                  margin-bottom: 5px; }

#portfolio {
  width: 100%; }
  #portfolio .inner h1 {
    padding-top: 200px;
    font: 40px/1 'Noto Sans KR';
    font-weight: 600;
    text-align: center;
    color: #111;
    letter-spacing: 2px;
    margin-bottom: 20px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s; }
  #portfolio .inner > p {
    font: 20px/1 'Noto Sans KR';
    color: #555;
    text-align: center;
    margin-bottom: 100px;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s; }
  #portfolio .inner .enterprise {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row; }
    #portfolio .inner .enterprise .left {
      width: 50%;
      padding: 100px;
      background: #efefef50; }
      #portfolio .inner .enterprise .left .content1 {
        width: 100%;
        transform: translate(-50%);
        opacity: 0;
        transition: 0.5s; }
        #portfolio .inner .enterprise .left .content1 h2 {
          font: bold 35px/1 'Noto Sans KR';
          text-align: center;
          color: #111;
          margin-bottom: 50px; }
        #portfolio .inner .enterprise .left .content1 > p {
          font: 17px/1.9 'Noto Sans KR';
          text-align: center;
          color: #444;
          margin-bottom: 50px; }
        #portfolio .inner .enterprise .left .content1 .tech_desc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center; }
          #portfolio .inner .enterprise .left .content1 .tech_desc article {
            width: calc(100% / 3);
            padding: 20px; }
            #portfolio .inner .enterprise .left .content1 .tech_desc article i {
              font-size: 40px;
              margin-bottom: 10px;
              color: #6e6e73; }
            #portfolio .inner .enterprise .left .content1 .tech_desc article h3 {
              font: bold 20px/1 'Open Sans';
              color: #3b3b3b; }
            #portfolio .inner .enterprise .left .content1 .tech_desc article p {
              font: 15px/1.5 'Noto Sans KR';
              text-align: center;
              color: #444;
              font-weight: 300;
              margin-top: 20px; }
          #portfolio .inner .enterprise .left .content1 .tech_desc .top {
            display: flex;
            flex-direction: row; }
          #portfolio .inner .enterprise .left .content1 .tech_desc .bottom {
            display: flex;
            flex-direction: row; }
        #portfolio .inner .enterprise .left .content1 ul {
          text-align: center; }
          #portfolio .inner .enterprise .left .content1 ul li {
            margin-bottom: 20px; }
            #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(1) a {
              display: block;
              width: 180px;
              height: 40px;
              background: #0077ed;
              font: 17px/40px 'Open Sans';
              color: #fff;
              text-align: center;
              margin: 0 auto;
              border: 1px solid #0077ed;
              border-radius: 15px;
              margin-top: 60px;
              transition: all 0.5s; }
              #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(1) a:hover {
                border: 1px solid #0077ed;
                background: #fff;
                color: #0077ed; }
            #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(2) {
              display: inline-block;
              margin-right: 20px; }
              #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(2) a {
                font: 17px/1 'Open Sans';
                color: #0066cc; }
                #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(2) a:hover {
                  text-decoration: underline; }
            #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(3) {
              display: inline-block; }
              #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(3) a {
                font: 17px/1 'Open Sans';
                color: #0066cc; }
                #portfolio .inner .enterprise .left .content1 ul li:nth-of-type(3) a:hover {
                  text-decoration: underline; }
    #portfolio .inner .enterprise .right {
      width: 50%;
      padding: 100px;
      background: #eee; }
      #portfolio .inner .enterprise .right .pic {
        width: 100%;
        height: 100%;
        background: url(../img/mainpage.png) no-repeat center/cover;
        object-fit: cover;
        border: 1px solid #ccc;
        transform: translate(50%);
        opacity: 0;
        transition: 0.5s; }
  #portfolio .inner .second {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px; }
    #portfolio .inner .second .swiper {
      display: inline-block;
      width: 50%;
      padding: 100px;
      transform: translate(-50%);
      opacity: 0;
      transition: 0.5s; }
      #portfolio .inner .second .swiper .pic {
        width: 100%;
        height: 50%;
        background: url(../img/swiper.png) no-repeat center/cover;
        object-fit: cover;
        margin-bottom: 80px;
        border: 1px solid #ddd; }
      #portfolio .inner .second .swiper h2 {
        font: bold 35px/1 'Noto Sans KR';
        text-align: center;
        color: #111;
        margin-bottom: 30px; }
      #portfolio .inner .second .swiper > p {
        font: 17px/1.5 'Noto Sans KR';
        text-align: center;
        color: #444;
        margin-bottom: 30px; }
      #portfolio .inner .second .swiper a {
        display: block;
        width: 180px;
        height: 40px;
        background: #0077ed;
        font: 17px/40px 'Open Sans';
        color: #fff;
        text-align: center;
        margin: 0 auto;
        border: 1px solid #0077ed;
        border-radius: 15px;
        margin-top: 40px;
        transition: all 0.5s; }
        #portfolio .inner .second .swiper a:hover {
          border: 1px solid #0077ed;
          background: #fff;
          color: #0077ed; }
    #portfolio .inner .second .isotope {
      display: inline-block;
      width: 50%;
      height: 700px;
      padding: 100px;
      transform: translate(50%);
      opacity: 0;
      transition: 0.5s; }
      #portfolio .inner .second .isotope .pic {
        width: 100%;
        height: 50%;
        background: url(../img/isotope.png) no-repeat center/cover;
        object-fit: cover;
        margin-bottom: 80px;
        border: 1px solid #ddd; }
      #portfolio .inner .second .isotope h2 {
        font: bold 35px/1 'Noto Sans KR';
        text-align: center;
        color: #111;
        margin-bottom: 30px; }
      #portfolio .inner .second .isotope > p {
        font: 17px/1.5 'Noto Sans KR';
        text-align: center;
        color: #444;
        margin-bottom: 30px; }
      #portfolio .inner .second .isotope a {
        display: block;
        width: 180px;
        height: 40px;
        background: #0077ed;
        font: 17px/40px 'Open Sans';
        color: #fff;
        text-align: center;
        margin: 0 auto;
        border: 1px solid #0077ed;
        border-radius: 15px;
        margin-top: 40px;
        transition: all 0.5s; }
        #portfolio .inner .second .isotope a:hover {
          border: 1px solid #0077ed;
          background: #fff;
          color: #0077ed; }
  #portfolio.on .inner h1 {
    transform: translateY(0px);
    opacity: 1; }
  #portfolio.on .inner > p {
    transform: translateY(0px);
    opacity: 1; }
  #portfolio.on .inner .enterprise .left .content1 {
    transform: translate(0%);
    opacity: 1; }
  #portfolio.on .inner .enterprise .right .pic {
    transform: translate(0%);
    opacity: 1; }
  #portfolio.on .inner .second .swiper {
    transform: translateY(0px);
    opacity: 1; }
  #portfolio.on .inner .second .isotope {
    transform: translateY(0px);
    opacity: 1; }

#contact {
  width: 100%; }
  #contact .inner {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row; }
    #contact .inner .left {
      width: 50%;
      height: 600px;
      padding: 100px;
      background: url(../img/bg.jpg) no-repeat center/cover;
      object-fit: cover;
      position: relative;
      z-index: 1; }
      #contact .inner .left::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.95); }
      #contact .inner .left .content {
        transform: translateY(-100px);
        opacity: 0;
        transition: 0.5s;
        position: relative;
        z-index: 3; }
        #contact .inner .left .content h1 {
          font: bold 30px/1 'Noto Sans KR';
          margin-bottom: 50px; }
        #contact .inner .left .content input {
          width: 48%;
          height: 40px;
          border: 1px solid #ddd;
          margin-bottom: 20px;
          padding: 10px;
          font: 14px/1 'Noto Sans KR';
          color: #555;
          cursor: pointer; }
        #contact .inner .left .content input[type=submit] {
          background: #ccc;
          border-radius: 5px;
          transition: all 0.5s; }
          #contact .inner .left .content input[type=submit]:hover {
            background: #ddd; }
        #contact .inner .left .content textarea {
          width: 100%;
          height: 100px;
          border: 1px solid #ddd;
          resize: none;
          padding: 10px;
          font: 14px/1 'Noto Sans KR';
          color: #555;
          margin-bottom: 20px; }
    #contact .inner .right {
      width: 50%;
      height: 600px; }
      #contact .inner .right .top {
        height: 50%;
        background: url(../img/bg.jpg) no-repeat center/cover;
        object-fit: cover; }
      #contact .inner .right .bottom {
        height: 50%;
        padding: 40px;
        text-align: left;
        transform: translateY(-100px);
        opacity: 0;
        transition: 0.5s;
        text-align: center; }
        #contact .inner .right .bottom h3 {
          font: 30px/1 'Noto Sans KR';
          font-weight: 100;
          color: #333;
          margin-bottom: 20px; }
          #contact .inner .right .bottom h3 strong {
            font-weight: 400;
            margin-right: 20px; }
        #contact .inner .right .bottom a {
          display: block;
          width: 180px;
          height: 40px;
          background: #0077ed;
          font: 17px/40px 'Open Sans';
          color: #fff;
          text-align: center;
          margin: 0 auto;
          border: 1px solid #0077ed;
          border-radius: 15px;
          margin-top: 40px;
          transition: all 0.5s; }
          #contact .inner .right .bottom a:hover {
            border: 1px solid #0077ed;
            background: #fff;
            color: #0077ed; }
  #contact.on .inner .left .content {
    transform: translateY(0px);
    opacity: 1; }
  #contact.on .inner .right .bottom {
    transform: translateY(0px);
    opacity: 1; }

#navi {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%); }
  #navi li {
    margin: 20px 0; }
    #navi li a {
      display: block;
      width: 10px;
      height: 10px;
      background: #ccc;
      border-radius: 5px;
      transition: 0.5s; }
      #navi li a.on {
        background: #8d8a8d;
        height: 40px; }

/*# sourceMappingURL=style.css.map */
