@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;400;600&display=swap');


#header {
    width: 100%;

    .inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 40px 120px 30px;
        margin: 0 auto;


        h1 {
            display: inline-block;

            a {
                font: bold 30px/1 'Noto Serif KR';
                font-weight: 600;
                color: #111;
            }
        }

        .menuWeb {
            .gnb {
                float: right;

                li {
                    float: left;
                    margin-right: 40px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font: 18px/1 'Montserrat';
                        font-weight: 600;
                        color: #111;
                    }
                }
            }

            .btn_content {
                position: absolute;
                right: 26px;
                top: 22px;
                display: none;
                z-index: 11;

                .btnCall {
                    display: block;
                    width: 20px;
                    height: 20px;
                    position: relative;

                    span {
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -1px;
                        transition: all 0.5s;
                        text-indent: -9999px;
                    }

                    &::before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: top 0.5s 0s, transform 0.5s 0.5s;
                    }

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: bottom 0.5s 0s, transform 0.5s 0.5s;
                    }

                    &.on::before {
                        transform: rotate(45deg);
                        top: calc(50% - 1px);
                    }

                    &.on::after {
                        transform: rotate(-45deg);
                        bottom: calc(50% - 1px);
                    }

                    &.on span {
                        transform: translateX(100%);
                        opacity: 0;
                    }
                }
            }
        }

        .menuMo {
            position: fixed;
            top: 0;
            left: -300px;
            width: 300px;
            height: 100%;
            background: #efefef;
            z-index: 10;
            display: none;
            transition: all 0.5s;
            padding: 30px;

            h1 {
                margin-bottom: 30px;

                a {
                    color: #111;
                    display: block;
                    text-align: center;
                    font: bold 24px/1 'Noto Serif KR';
                    margin-bottom: -12px;
                }

            }

            .gnbMo {
                margin-top: 30px;

                li {
                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid #ccc;
                        font: 15px/1 'Montserrat';
                        color: #222;
                        text-align: left;

                        i {
                            font-size: 15px;
                            color: #333;
                            margin-right: 20px;
                        }
                    }
                }
            }

            &.on {
                left: 0%;
            }
        }
    }
}

#home {
    .inner {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;

        .left {
            width: 50%;
            height: 500px;

            .pic {
                width: 100%;
                height: 100%;
                background: url(../img/bg3.jpg) no-repeat center/cover;
                object-fit: cover;
            }
        }

        .right {
            width: 50%;
            height: 500px;
            background: url(../img/bg0.jpg) no-repeat center/cover;
            object-fit: cover;
            padding: 80px;
            position: relative;
            z-index: 1;

            &::after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(255, 255, 255, 0.95);
                z-index: 2;
            }

            .txt {
                position: relative;
                z-index: 3;

                span {
                    font: 40px/1.3 'Noto Sans KR';
                    color: #111;

                    strong {
                        font-size: 45px;
                    }
                }

                p {
                    font: 16px/1.5 'Noto Sans KR';
                    font-weight: 300;
                    color: #222;
                    margin-top: 60px;
                }
            }
        }
    }
}

#about {
    width: 100%;
    background: #efefef69;

    .inner {
        display: flex;
        flex-direction: row;


        .left {
            width: 35%;
            padding: 50px;
            position: relative;

            .pic {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 300px;
                border-radius: 50%;
                background: url(../img/profile.jpg) no-repeat top/cover;
            }
        }

        .right {
            width: 65%;
            padding: 50px;

            h2 {
                font: bold 25px/1 'Noto Sans KR';
                color: #222;
                margin-bottom: 20px;
            }

            ul {
                li {
                    font: 17px/1.5 'Noto Sans KR';
                    font-weight: 300;
                    color: #333;
                    margin-bottom: 5px;
                }
            }

            .top {
                display: flex;
                flex-direction: row;

                .profile {
                    width: 40%;
                    padding: 40px;
                }

                .education {
                    width: 60%;
                    padding: 40px;
                }
            }

            .bottom {
                display: flex;
                flex-direction: row;

                .license {
                    width: 40%;
                    padding: 40px;
                }

                .skill {
                    width: 60%;
                    padding: 40px;

                    .content {
                        width: 60%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

#portfolio {
    width: 100%;

    .inner {
        display: flex;
        flex-direction: column;

        .txt {
            >h2 {
                padding-top: 100px;
                font: 40px/1 'Noto Sans KR';
                font-weight: 600;
                text-align: center;
                color: #111;
                letter-spacing: 2px;
                margin-bottom: 20px;
            }
    
            >p {
                font: 20px/1 'Noto Sans KR';
                color: #555;
                text-align: center;
                margin-bottom: 100px;
            }
        }

        .content1 {
            display: flex;
            flex-direction: row;
            background: #eee;

            .left {
                width: 50%;
                padding: 50px;

                .pic {
                    width: 100%;
                    height: 100%;
                    background: url(../img/mainpage.png) no-repeat top/cover;
                    object-fit: cover;
                }
            }

            .right {
                width: 50%;
                padding: 100px;

                span {
                    font: bold 50px/1 'Montserrat';
                    color: rgba(7, 0, 0, 0.438);

                }


                h2 {
                    font: bold 30px/1 'Noto Sans KR';
                    color: #222;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                p {
                    font: 17px/1.5 'Noto Sans KR';
                    color: #444;
                }

                ul {
                    text-align: left;

                    li {
                        margin-bottom: 20px;

                        &:nth-of-type(1) {
                            a {
                                display: block;
                                width: 200px;
                                height: 40px;
                                background: #0077ed;
                                font: 17px/40px 'Open Sans';
                                color: #fff;
                                text-align: center;
                                border: 1px solid #0077ed;
                                border-radius: 15px;
                                margin-top: 60px;
                                transition: all 0.5s;

                                &:hover {
                                    border: 1px solid #0077ed;
                                    background: #fff;
                                    color: #0077ed;
                                }
                            }
                        }

                        &:nth-of-type(2) {
                            display: inline-block;
                            margin-right: 20px;

                            a {
                                font: 17px/1 'Open Sans';
                                color: #0066cc;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        &:nth-of-type(3) {
                            display: inline-block;

                            a {
                                font: 17px/1 'Open Sans';
                                color: #0066cc;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        .content2 {
            display: flex;
            flex-direction: row;

            .left {
                width: 50%;
                padding: 100px;

                span {
                    font: bold 50px/1 'Montserrat';
                    color: rgba(7, 0, 0, 0.438);
                }

                h2 {
                    font: bold 30px/1 'Noto Sans KR';
                    color: #222;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                p {
                    font: 17px/1.5 'Noto Sans KR';
                    color: #444;
                }

                a {
                    display: block;
                    width: 200px;
                    height: 40px;
                    background: #0077ed;
                    font: 17px/40px 'Open Sans';
                    color: #fff;
                    text-align: center;
                    border: 1px solid #0077ed;
                    border-radius: 15px;
                    margin-top: 60px;
                    transition: all 0.5s;

                    &:hover {
                        border: 1px solid #0077ed;
                        background: #fff;
                        color: #0077ed;
                    }
                }
            }

            .right {
                width: 50%;
                padding: 50px;

                .pic {
                    width: 100%;
                    height: 100%;
                    background: url(../img/swiper.png) no-repeat top/cover;
                    object-fit: cover;
                }
            }
        }

        .content3 {
            display: flex;
            flex-direction: row;
            background: #eee;

            .left {
                width: 50%;
                padding: 50px;

                .pic {
                    width: 100%;
                    height: 100%;
                    background: url(../img/isotope.png) no-repeat top/cover;
                    object-fit: cover;
                }
            }

            .right {
                width: 50%;
                padding: 100px;

                span {
                    font: bold 50px/1 'Montserrat';
                    color: rgba(7, 0, 0, 0.438);
                }

                h2 {
                    font: bold 30px/1 'Noto Sans KR';
                    color: #222;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                p {
                    font: 17px/1.5 'Noto Sans KR';
                    color: #444;
                }

                a {
                    display: block;
                    width: 200px;
                    height: 40px;
                    background: #0077ed;
                    font: 17px/40px 'Open Sans';
                    color: #fff;
                    text-align: center;
                    border: 1px solid #0077ed;
                    border-radius: 15px;
                    margin-top: 60px;
                    transition: all 0.5s;

                    &:hover {
                        border: 1px solid #0077ed;
                        background: #fff;
                        color: #0077ed;
                    }
                }
            }
        }
    }
}

#contact {
    width: 100%;

    .inner {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: row;

        .left {
            width: 50%;
            height: 600px;
            padding: 100px;
            background: url(../img/bg.jpg) no-repeat center/cover;
            object-fit: cover;
            position: relative;
            z-index: 1;

            &::after {
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background-color: rgba(255, 255, 255, 0.95);
            }

            .content {
                position: relative;
                z-index: 3;

                h1 {
                    font: bold 30px/1 'Noto Sans KR';
                    margin-bottom: 50px;
                }

                input {
                    width: 48%;
                    height: 40px;
                    border: 1px solid #ddd;
                    margin-bottom: 20px;
                    padding: 10px;
                    font: 14px/1 'Noto Sans KR';
                    color: #555;
                }

                input[type=submit] {
                    background: #ccc;
                    border-radius: 5px;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        background: #ddd;
                    }
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    border: 1px solid #ddd;
                    resize: none;
                    padding: 10px;
                    font: 14px/1 'Noto Sans KR';
                    color: #555;
                    margin-bottom: 20px;
                }
            }
        }

        .right {
            width: 50%;
            height: 600px;

            .top {
                height: 50%;
                background: url(../img/bg.jpg) no-repeat center/cover;
                object-fit: cover;
            }

            .bottom {
                height: 50%;
                padding: 40px;
                text-align: left;
                text-align: center;

                h3 {
                    font: 20px/1 'Noto Sans KR';
                    font-weight: 100;
                    color: #333;
                    margin-bottom: 20px;

                    strong {
                        font-weight: 400;
                        margin-right: 20px;
                    }
                }

                a {
                    display: block;
                    width: 180px;
                    height: 40px;
                    background: #0077ed;
                    font: 17px/40px 'Open Sans';
                    color: #fff;
                    text-align: center;
                    margin: 0 auto;
                    border: 1px solid #0077ed;
                    border-radius: 15px;
                    margin-top: 40px;
                    transition: all 0.5s;

                    &:hover {
                        border: 1px solid #0077ed;
                        background: #fff;
                        color: #0077ed;
                    }
                }
            }
        }
    }
}

#navi {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    li {
        margin: 20px 0;

        a {
            display: block;
            width: 10px;
            height: 10px;
            background: #ccc;
            border-radius: 5px;
            transition: 0.5s;

            &.on {
                background: #838183;
            }
        }
    }
}

@media screen and (max-width: 1599px) {
    #about {
        .inner {
            .right {
                .bottom {
                    .skill {
                        .content {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1179px) {
    #header {
        width: 100%;

        .inner {
            padding: 30px 40px;
        }
    }

    #home {
        .inner {

            .left {
                width: 50%;
            }

            .right {
                width: 50%;
            }
        }
    }

    #about {

        .inner {
            display: flex;
            flex-direction: column;

            .left {
                width: 100%;
                height: 40vh;
                padding: 0;

                .pic {
                    width: 250px;
                    height: 250px;
                }
            }

            .right {
                width: 100%;
                padding: 40px;

                .bottom {
                    .skill {
                        .content {
                            width: 70%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }

    #portfolio {
        .inner {
            .content1 {
                .right {
                    padding: 50px;
                }
            }

            .content2 {
                .left {
                    padding: 50px;
                }
            }

            .content3 {
                .right {
                    padding: 50px;
                }
            }
        }
    }

    #contact {
        .inner {
            .left {
                padding: 50px;
                height: 500px;
            }
            
            .right {
                height: 500px;
            }
        }
    }

    #navi {
        position: fixed;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);

        li {
            margin: 20px 0;

            a {
                display: block;
                width: 10px;
                height: 10px;
                background: #ccc;
                border-radius: 5px;
                transition: 0.5s;

                &.on {
                    background: #8d8a8d;
                    height: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 539px) {
    #header {
        width: 100%;

        .inner {
            padding: 20px;

            h1 {
                a {
                    font: bold 25px/1 'Noto Serif KR';
                }
            }

            .menuWeb {
                .gnb {
                    display: none;
                }

                .btn_content {
                    display: block;
                    position: absolute;
                    top: 35px;
                }
            }

            .menuMo {
                display: block;
            }
        }
    }

    #home {
        .inner {
            display: flex;
            flex-direction: column;

            .left {
                width: 100%;
                height: 30vh;
                background: url(../img/bg1.jpg) no-repeat center/cover;
                object-fit: cover;

                video {
                    display: none;
                }
            }

            .right {
                width: 100%;
                height: 60vh;
                padding: 40px;

                .txt {
                    span {
                        font: 30px/1.3 'Noto Sans KR';
                    }
                }
            }
        }
    }

    #about {
        .inner {
            display: flex;
            flex-direction: column;

            .left {
                width: 100%;
                height: 45vh;
                padding: 0;

                .pic {
                    width: 250px;
                    height: 250px;
                }
            }

            .right {
                width: 100%;
                padding: 40px;

                .top {
                    display: flex;
                    flex-direction: column;

                    .about {
                        width: 100%;
                        padding: 0;
                        margin-bottom: 50px;
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: column;

                    .about {
                        width: 100%;
                        padding: 0;
                        margin-bottom: 50px;
                    }

                    .skill {
                        width: 100%;
                        padding: 0;

                        .content {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }

    #portfolio {
        .inner {
            .txt {
                padding: 50px 30px 30px;
                text-align: center;

                >h2 {
                    font: bold 30px/1 'Noto Sans KR';
                    padding-top: 0;
                }
    
                >p {
                    font: 16px/1.2 'Noto Sans KR';
                    margin-bottom: 0;
                }
            }

            .content1 {
                display: flex;
                flex-direction: column;

                .left {
                    width: 100%;
                    height: 40vh;
                    padding: 40px;
                }

                .right {
                    width: 100%;
                    padding: 40px;
                }
            }

            .content2 {
                display: flex;
                flex-direction: column-reverse;

                .left {
                    width: 100%;
                    padding: 40px;

                }

                .right {
                    width: 100%;
                    height: 40vh;
                    padding: 40px;
                }
            }

            .content3 {
                display: flex;
                flex-direction: column;

                .left {
                    width: 100%;
                    height: 40vh;
                    padding: 40px;
                }

                .right {
                    width: 100%;
                    padding: 40px;
                }
            }
        }
    }

    #contact {
        .inner {
            display: flex;
            flex-direction: column;

            .left {
                width: 100%;
                height: 78vh;
                padding: 40px;

                .content {
                    input {
                        width: 100%;
                    }
                }
            }

            .right {
                width: 100%;
                height: 70vh;
            }
        }
    }

    #navi {
        display: none;
    }
}